/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* FONTS  */

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* STYLE MENU */

nav {
  display: flex;
  align-items: center;
  background-color: #0f68bb;
  font-family: 'DM Sans', sans-serif;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding: 20px;
}
body{
background-color: #F7F9F9;
}
.buttonGit {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  border: 1.5px solid #ffffff;
  border-radius: 40px;
  width: 105px;
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  align-content: center;
  transition: 0.3s;
}
a.button:hover {
  background: #208ef5;
}

.box {
  display: flex;
  align-items: center;
  border: 5px solid black;
  margin: 20px auto auto 20px;
}
img{
  max-width: 100%;
  max-height: 100%;
  
}
main{
  position: absolute;
}
.aryaStark {
  position: relative;
  top: 50px;
  left: -350px;
}
/*.aryaStark:hover{
}*/

.cachorrena {
  position: relative;
  top: 50px;
  left: -30px;
  cursor: pointer;
}
/*.cachorrena:hover{
  
}*/
front{
  background: blue;
}
.container{
  position: relative;
  margin: -100px auto;
  width: 1120px;
  height: 210px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-color: white;
  opacity: 0.9;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.logo{
  margin: 305px 364px;
}