/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* FONTS  */

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* STYLE MENU */

nav {
  display: flex;
  align-items: center;
  background-color: #0f68bb;
  font-family: 'DM Sans', sans-serif;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding: 20px;
}
main {
  display: flex;
  justify-content: center;
}
.buttonGit {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  border: 1.5px solid #ffffff;
  border-radius: 40px;
  width: 105px;
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  align-content: center;
  transition: 0.3s;
}
a.button:hover {
  background: #208ef5;
}

.box {
  width: 1400px;
  height: 200px;
  border: 2px solid black;
  top
}
